.btn-bog {
  margin: 0.2rem;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  // text-transform: uppercase;
  padding: 0 1em;
  border: 1px solid #a55d07;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(340.5deg, #b78c24 36.4%, #ffd769 108.59%);

  &:hover,
  &:focus {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  }
}

.fullwidth {
  width: 100%;
}

.btn-golden {
  border: 1px solid #a55d07;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(340.5deg, #b78c24 36.4%, #ffd769 108.59%);

  &:hover,
  &:focus {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  }
}

.btn-golden-old {
  border: 1px solid #7e4704;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgb(194, 160, 27);
  background-image: linear-gradient(340.5deg, #8b6305 36.4%, #c29416 108.59%);

  &:hover,
  &:focus {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(156, 127, 9);
    border: 1px solid rgba(107, 62, 7, 0.6);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
      inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  }
}

.btn-silver {
  border: 1px solid #575757;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(129, 127, 124, 0.4),
    inset 0 -2px 5px 1px rgb(112, 112, 112),
    inset 0 -1px 1px 3px rgb(226, 226, 226);
  background-image: linear-gradient(340.5deg, #888888 36.4%, #ffffff 108.59%);

  &:hover,
  &:focus {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
      inset 0 -2px 5px 1px #a8a6a2, inset 0 -1px 1px 3px rgb(206, 206, 206);
    border: 1px solid rgba(139, 139, 139, 0.6);
  }

  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(82, 82, 82, 0.4),
      inset 0 -2px 5px 1px #858482, inset 0 -1px 1px 3px rgb(224, 224, 224);
  }
}

.btn-basic {
  width: 100%;
  background-color: #dd9200;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #f3ac1f;
  }
}

.btn-basic-grey {
  color: #937341;
  background-color: #c4c4c4;
  &:hover {
    background-color: #9c9c9c;
  }

}

.font-responsive{
  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 12px;
  }
}

.text-dark {
  color: #282828;
}

.btn-dark-yellow {
  color: #282828;
}
.btn-connected {
  background: #1F1F1F;
  border: 1px solid #EBB869;
  border-radius: 10px;
}